.sidebar.close{
    width: 80px;
    transition-duration: 400ms;
}

/* .sidebar.close li:hover .dropdown{
    position: absolute;
    margin-left: 10px;
    left: 100%;
    top: 0;
} */
.sidebar.close .nav-link{
    position: relative;
    display: inline-block;
}

.sidebar.close .nav-link .dropdown{
    display: none;
    position: absolute;
    z-index: 1;
}
.sidebar.close .nav-link li.showMenu .dropdown{
    display: block;
}

.sidebar.close span,
.sidebar.close .bx-chevron-down,
.sidebar.close .text{
    display: none;
}

